.loginForm {
    text-align: center;
}

.alert {
    margin: 10px 0px;
}

.loginForm input {
    height: 40px;
}

.submitIcon {
    padding-left: 20px;
}

.loginLoading {
    position: absolute;
    top: 40%;
    left: 48%;
}

.loginLoading i,
.loginLoading span {
    display: block;
    text-align: center;
}

.loginLoading span {
    padding: 5px 0px;
}