<div class="container" ng-controller="loginController">
    <form class="loginForm col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" ng-submit="checkCredentials()" ng-hide="loginInProcess">
        <h2>Please sign in</h2>
        <div class="form-group">
            <label class="sr-only" for="username">Email or Username</label>
            <input type="text" class="form-control" id="username" placeholder="Email or Username" name="username" required autofocus ng-model="username">
        </div>

        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required ng-model="password">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In<i class="fa fa-paper-plane-o submitIcon" aria-hidden="true"></i></button>

        <div class="alert alert-danger" ng-show="loginFailed">
            <strong>{{loginFailureMessage}}</strong>
        </div>
    </form>
    <div class="loginLoading" ng-show="loginInProcess">
        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
        <span>Signing In ...</span>
    </div>
</div>