<!doctype html>
<html ng-app="amazonMonitor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Monitor-A</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/signup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/homepage.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/productList.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
</head>

<body ng-controller="mainController" ng-cloak>
    {%raw%}
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Please sign in to continue ...</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form class="loginForm" ng-submit="checkCredentials()">
                                <div class="form-group">
                                    <label class="sr-only" for="username">Email or Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Email or Username" name="username" required autofocus ng-model="username">
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required ng-model="password">
                                </div>

                                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In<i class="fa fa-paper-plane-o submitIcon" aria-hidden="true"></i></button>

                                <div class="alert alert-danger" ng-show="loginFailed">
                                    <strong>{{loginFailureMessage}}</strong>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand textLogo" href="/#/">
                        Monitor-A
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="usernameNavItem">
                        <p ng-show="isLoggedInUser"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i><span>{{currentUser}}</span></p>
                    </li>
                    <li>
                        <a href="/#/signup" class="btn btn-primary navbar-btn signupBtn" ng-show="!isLoggedInUser">SIGN UP</a>
                    </li>
                    <li>
                        <a href="#" ng-click="logoutUser()" class="btn btn-primary navbar-btn logoutBtn" ng-show="isLoggedInUser">LOGOUT</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <section ng-view></section>

    <footer class="footer">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <span class="footerQuote"></span>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://www.facebook.com/Amazon/" class="facebook">
                            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/amazon" class="twitter">
                            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+amazon" class="gplus">
                            <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
    {%endraw%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>